# Ignore __pycache__ directories
__pycache__/

# Ignore the fastapi folder
fastapi/

# Python bytecode
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# multiple cluster testing
notebooks/
.env
.env.dev

data/images
